.logo {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 25px;
}

.spinner {
  margin-left:250px;
}

.item-card {
  margin:8px 0px;
}

.App-link {
  color: #61dafb;
}

.dataListWrapper {
  width:640px;
  margin:auto;
}

