#App {
  width:100%;
  margin:auto;
  position:relative;
  font-family: "Proxima Nova", "Helvetica Neue", "Arial", "Sans Serif"
}

.spinner {
  margin-left:250px;
}

.item-card {
  margin:8px 0px;
  height:275px;
}

.item-card img.cover {
  height:275px;
  width:100%;
  object-fit: cover;
}

.dataListWrapper {
  width:640px;
  height:500px;
  margin:auto;
  z-index:5;
  margin-top:65px;
}

.toolbar {
  float: right;
  margin-top:2px;
  width:275px;
}

.header {
  width:100%;
  background:#efefef;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  height:60px;
}
.header .wrapper {
  width: 640px;
  margin:auto;
}
.header .logo {
  float:left;
  margin-top:20px;
  margin-left:8px;
}