#App {
  width:100%;
  margin:auto;
  position:relative;
}

.spinner {
  margin-left:250px;
}

.item-card {
  margin:8px 0px;
}

.dataListWrapper {
  width:640px;
  height:500px;
  margin:auto;
  z-index:5;
  margin-top:65px;
}

.toolbar {
  float:right;
}

.header {
  width:100%;
  background:#efefef;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  height:56px;
}
.header .wrapper {
  width: 640px;
  margin:auto;
}
.header .logo {
  float:left;
  margin-top:15px;
  margin-left:8px;
}